<!DOCTYPE type="text/html" html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.0.2.min.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>{{page_title}}</title>
</head>
<body>
    {{>header}}
    <div class="container-fluid">
        {{#if message}}
            <div class="row" style="padding-top: 20px;">
                <div style="text-align: center;" class="alert alert-{{message.type}}">
                    <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle" aria-label="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{message.title}}</strong>{{message.message}}
                </div>
            </div>
        {{/if}}
        <div class="row" style="padding-top: 20px;">
            <div class="col">
                <div class="card text-center">                    
                    <div class="card-header">{{{breadcrumb}}}</div>
                    <div class="card-body">
                        <p class="card-text">
                            
                        </p>
                    </div>
                    <div class="card-footer text-muted"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    {{>footer}}
    <script type="text/javascript" src="/bootstrap-5.0.2.min.js"></script>
</body>
</html>