<!DOCTYPE type="text/html" html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/bootstrap-5.0.2.min.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <title>{{page_title}}</title>
</head>
<body>
    {{>header}}
    <div class="container-fluid">
        {{#if message}}
            <div class="row" style="padding-top: 20px;">
                <div style="text-align: center;" class="alert alert-{{message.type}}">
                    <button type="button" class="btn-close position-absolute top-50 end-0 translate-middle" aria-label="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{message.title}}</strong>{{message.message}}
                </div>
            </div>
        {{/if}}
        <div class="row" style="padding-top: 20px;">
            <div class="col">
                <div class="card">                    
                    <div class="card-header">{{{breadcrumb}}}</div>
                    <div class="card-body">
                        <!-- privacy policy -->
                        <div style="font-family: 'Roboto Condensed'; font-size: 1.1rem; line-height: normal; color: #a5a5a5; padding: 20px;">
                            <p>Last updated: May 31, 2023.<br>
                            <br>
                            DomainName.tld ("us", "we", or "our") operates the <a href="https://DomainName.tld" target="_blank">https://DomainName.tld</a> website (the "Service").<br>
                            <br>
                            This page informs you of our policies regarding the collection, use, and disclosure of Personal Information when you use our Service.<br>
                            <br>
                            We will not use or share your information with anyone except as described in this Privacy Policy.<br>
                            <br>
                            We use your Personal Information for providing and improving the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible at <a href="https://DomainName.tld" target="_blank">https://DomainName.tld</a><br>
                            <br>
                            <strong>Information Collection And Use</strong><br>
                            While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally, identifiable information may include but is not limited to, your email address, name, phone number, postal address, and other information ("Personal Information").<br>
                            <br>
                            We collect this information for the purpose of providing the Service, identifying and communicating with you, responding to your requests/inquiries, servicing your purchase orders, and improving our services.<br>
                            <br>
                            <strong>Log Data</strong><br>
                            We may also collect information that your browser sends whenever you visit our Service ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages and other statistics.<br>
                            <br>
                            In addition, we may use third-party services such as Google Analytics that collect, monitor, and analyze this type of information in order to increase our Service's functionality. These third-party service providers have their own privacy policies addressing how they use such information.<br>
                            <br>
                            <strong>Cookies</strong><br>
                            Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and transferred to your device. We use cookies to collect information in order to improve our services for you.<br>
                            <br>
                            You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers provides information on how to accept cookies, disable cookies, or notify you when receiving a new cookie.<br>
                            <br>
                            If you do not accept cookies, you may not be able to use some features of our Service and we recommend that you leave them turned on.<br>
                            <br>
                            <strong>Double-Click Cookie</strong><br>
                            Google, as a third-party vendor, uses cookies to serve ads on our Service. Google's use of the DoubleClick cookie enables it and its partners to serve ads to our users based on their visit to our Service or other websites on the Internet.<br>
                            <br>
                            You may opt out of the use of the DoubleClick Cookie for interest-based advertising by visiting the Google Ads Settings web page: <a href="https://www.google.com/ads/preferences/" target="_blank">https://www.google.com/ads/preferences/</a><br>
                            <br>
                            <strong>Service Providers</strong><br>
                            We may employ third-party companies and individuals to facilitate our Service, provide the Service on our behalf, perform Service-related services, and/or assist us in analyzing how our Service is used.<br>
                            <br>
                            These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your information for any other purpose.<br>
                            <br>
                            <strong>Communications</strong><br>
                            We may use your Personal Information to contact you with newsletters, marketing or promotional materials, and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.<br>
                            <br>
                            <strong>Compliance With Laws</strong><br>
                            We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.<br>
                            <br>
                            <strong>Security</strong><br>
                            The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information we store, in order to protect it from unauthorized access, destruction, use, modification, or disclosure.<br>
                            <br>
                            However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you.<br>
                            <br>
                            <strong>Links To Other Sites</strong><br>
                            Our Service may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.<br>
                            <br>
                            We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.<br>
                            <br>
                            <strong>Children's Privacy</strong><br>
                            Only persons age 18 or older have permission to access our Service. Our Service does not address anyone under the age of 13 ("Children").<br>
                            <br>
                            We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from children under age 13 without verification of parental consent, we take steps to remove that information from our servers.<br>
                            <br>
                            <strong>Changes To This Privacy Policy</strong><br>
                            This Privacy Policy is effective as of September 21, 2017, and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.<br>
                            <br>
                            We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.<br>
                            <br>
                            If we make any material changes to this Privacy Policy, we will notify you either through the email address, you have provided us, or by placing a prominent notice on our website.<br>
                            <br>
                            <strong>Contact Us</strong><br>
                            Contact us if you have any questions about this policy.</p>
                        </div>
                    </div>
                    <div class="card-footer text-muted"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    {{>footer}}
    <script type="text/javascript" src="/bootstrap-5.0.2.min.js"></script>
</body>
</html>